.table-container {
  background: #fff;
  border: 1px solid #3982C2;
  margin: 0 10%;
}

table {
  border-collapse: collapse;
  width: 100%;
}

tr {
  text-align: left;
  border-bottom: 1px solid #e0e0e0;
  padding: 1rem;
}

td {
  padding: 1rem;
  color: #545454;
}

thead td {
  text-transform: uppercase;
  font-size: .9rem;
  color: #ffffff;
  background: #3982C2;
}